body {
  background-color: #8c6190;
}

.App {
  text-align: center;
}

.header-image {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header-image {
    animation: spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-image {
  padding-top: 5%;
  padding-bottom: 5%;
}

.enter {
  background: #0c99db;
  color: black;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  font-size: x-large;
  padding: 2px 95px 2px 95px;
}

.enter:hover {
  background: #086B99;
  cursor: pointer; 
}

.text {
  font-size: x-large;
}

.validateText {
  padding-bottom: 5px;
}